/* Enter your custom styles here */
.GridDataSample .exampleDiv {
  height: 7rem;
  width: 100%;
  background-color: #a9eaff;
}

.GridDataSample .exampleDiv > p,
.GridDataSample .propertiesDisplay {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.GridDataSample p {
  margin: 0;
  text-align: center;
  line-height: 150%;
}
